NODE_ENV=development
PORT=3000
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

JWT_ACCESS_SECRET=change_me_min_32_chars
JWT_REFRESH_SECRET=change_me_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

SESSION_EXPIRES_DAYS=7

MONGO_URI=mongodb+srv://<name>:<password>@<cluster-address>/<db-name>?retryWrites=true&w=majority

BCRYPT_SALT_ROUNDS=5

OPENAI_API_KEY=your_openai_api_key_here

RATE_LIMIT_GLOBAL_TTL=10
RATE_LIMIT_GLOBAL_LIMIT=10
RATE_LIMIT_AUTH_TTL=10
RATE_LIMIT_AUTH_LIMIT=10
RATE_LIMIT_REFRESH_TTL=10
RATE_LIMIT_REFRESH_LIMIT=10
RATE_LIMIT_AI_TTL=10
RATE_LIMIT_AI_LIMIT=10