NODE_ENV=development
PORT=3000

JWT_ACCESS_SECRET=change_me_min_32_chars
JWT_REFRESH_SECRET=change_me_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

MONGO_URI=mongodb+srv://<name>:<password>@<cluster-address>/<db-name>?
